@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is THE university. If you're even thinking about a bachelors degree, you can get
            right out of our face. If you are not a high school grad looking for a doctorate right out of the gate, you
            are simply not ambitious enough for this school. If you say the words "terminal" "masters" and "degree" in
            the same sentence while on our campus, we execute you at the soonest school event/rally available.
            Every year thousands of students are turned away for their lack of sauce and/or finesse. If you
            don't have at least 30 letters of recommendation you are wasting your time, but most importantly, our time.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Don't be an idiot.</h2>
        <p>We've taken the liberty of capturing a photo from your webcam and...yikes. We really don't think that you're
        going to fit in here. Best to turn away now.</p>
    </div>
</div>
<img src="~/images/stockPhoto.jpeg"/>
